* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

.page {
    background-color: #F7F7FF;
    height: 100vh;
}


.outside {
    display: flex;
    justify-content: center;
    background-color: #F7F7FF;
}
 .container-for-items {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 50%;
     background-color: #EBF2FA;
 }

 .single-item {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px; 
    width: 515px;
    padding: 10px;
    background-color: white;
    color: #050609;
}

.header {
    background-color: #23B5D3;
    color: #EBF2FA;
    padding: 10px;
}

.search-part {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 10px;
   
}

.search-part button {
    margin-right: 10px;
    padding: 6px 10px;
    font-size: 16px;
    border-radius: 4px;
    background-color: #23B5D3;
    color: #F7F7FF;
    padding: 10px;
    cursor: pointer;
}

.search-part button:hover {
    background-color: #75ABBC;
     
}

.search-part button:focus {
    outline-color: #23B5D3;
    background-color: #75ABBC;
}

.search-part input {
    font-size: 16px;
    padding: 5px;
    color: #050609;
    background-color: #F7F7FF;
    border: 1px solid #23B5D3;
    color: #23B5D3;
}

.search-part input:focus {
    outline-color: #23B5D3;
}

.top-part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-part {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nutrients-table {
    display: flex;
    flex-wrap: wrap;
}

.nutrient {
    padding: 3px;
    background-color: #23B5D3;
    color: #F7F7FF;
    margin: 2px
}

.item-title {
    margin: 15px 0px 0px 0px;
    font-size: 20px;
    font-weight: bold;
    color: #23B5D3;
    text-transform: capitalize;
    padding: 3px;
}

.energy {
    padding: 3px;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #75ABBC;
    color: #F7F7FF;

}


